/* Typography */
.bixal-font-serif {
    font-family: var(--bixal-font-serif);
}  
.bixal-font-sans-serif {
font-family: var(--bixal-font-sans-serif);
}
  
/* Color */
.text-bixal-orange {
    color: var(--bixal-orange);
}
.bg-bixal-orange {
    background-color: var(--bixal-orange);
}
.border-bixal-orange {
    background-color: var(--bixal-orange);
}
.text-bixal-green {
    color: var(--bixal-green);
}
.bg-bixal-green {
    background-color: var(--bixal-green);
}
.border-bixal-green {
    background-color: var(--bixal-green);
}
.text-bixal-light-blue {
    color: var(--bixal-light-blue);
}
.bg-bixal-light-blue {
    background-color: var(--bixal-light-blue);
}
.border-bixal-light-blue {
    background-color: var(--bixal-light-blue);
}
.text-bixal-teal {
    color: var(--bixal-teal);
}
.bg-bixal-teal {
    background-color: var(--bixal-teal);
}
.border-bixal-teal {
    background-color: var(--bixal-teal);
}
.text-bixal-red {
    color: var(--bixal-red);
}
.bg-bixal-red {
    background-color: var(--bixal-red);
}
.border-bixal-red {
    background-color: var(--bixal-red);
}
.text-bixal-maroon {
    color: var(--bixal-maroon);
}
.bg-bixal-maroon {
    background-color: var(--bixal-maroon);
}
.border-bixal-maroon {
    background-color: var(--bixal-maroon);
}
.text-bixal-purple {
    color: var(--bixal-purple);
}
.bg-bixal-purple {
    background-color: var(--bixal-purple);
}
.border-bixal-purple {
    background-color: var(--bixal-purple);
}
.text-bixal-navy {
    color: var(--bixal-navy);
}
.bg-bixal-navy {
    background-color: var(--bixal-navy);
}
.border-bixal-navy {
    background-color: var(--bixal-navy);
}